body{
    color: #eeeeee;
    text-shadow: 1px 1px 2px black;
}

img {
    max-height: 95px;
    max-width: 95px;
}

h2 {
    color: #ffffff;
    text-shadow: 1px 1px 2px #cccccc; 
}
.container {
    background-image: url("../images/wallpaper.png");
    min-height: 896px;
}

.character {
    height: 150px;
    width: 90px;
    background-color: rgba(255, 255, 255, 0.2);
}

.character:hover {
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.attacker {
    height: 150px;
    width: 90px;
    background-color: rgba(255, 255, 255, 0.7);
    
}

.enemy {
    height: 150px;
    width: 90px;
    background-color: rgba(255, 0, 0, 0.6);
}

.enemy:hover {
    background-color: rgba(255, 0, 0, 0.8);
    cursor: pointer;
}

.hide {
    visibility: hidden;
}

.disappear {
    display: none;
}

.defender {
    height: 150px;
    width: 90px;
    background-color: rgba(0, 0, 0, 0.7);
}

.attacker-selected {
    display: block;
}
